<div class="ContainerCards" *ngFor="let item of list">
    <div class="card" (click)="getProduct(item.id)">
        <img  class="ImagenProductos" src="{{item.image}}" alt="Imagen de ejemplo">
        <div class="ContenidoCard">
            <h2 class="TituloCard">{{item.title}}</h2>
            <p class="DescripcionCard">{{item.description}}</p>
        </div>
        <div class="FooterCard">
            <button>Añadir al carrito</button>
        </div>
    </div>
</div>

<app-product-detail [product]="individualProduct" (close)="closeModal()" *ngIf="individualProduct?.id>0"></app-product-detail>