<div class="ContainerCards">
    <div class="card">
        <span>Nuevo!!</span>
        <img  class="ImagenProductos" src="/assets/imagenes/TaladroPhilips.jpg" alt="Imagen de ejemplo">
        <div class="ContenidoCard">
            <h2 class="TituloCard">Taladro Philips</h2>
            <p class="DescripcionCard">Descripción breve de la tarjeta 1.</p>
        </div>
        <div class="FooterCard">
            <button>Añadir al carrito</button>
        </div>
    </div>
    <div class="card">
        <span>Nuevo!!</span>
        <img  class="ImagenProductos" src="/assets/imagenes/CintaMetrica.jpg" alt="Imagen de ejemplo">
        <div class="ContenidoCard">
            <h2 class="TituloCard">Cinta Metrica</h2>
            <p class="DescripcionCard">Descripción breve de la tarjeta 1.</p>
        </div>
        <div class="FooterCard">
            <button>Añadir al carrito</button>
        </div>
    </div>
    <div class="card">
        <span>Nuevo!!</span>
        <img  class="ImagenProductos" src="/assets/imagenes/CascoDeConstruccion.jpg" alt="Imagen de ejemplo">
        <div class="ContenidoCard">
            <h2 class="TituloCard">casco de construccion</h2>
            <p class="DescripcionCard">Descripción breve de la tarjeta 1.</p>
        </div>
        <div class="FooterCard">
            <button>Añadir al carrito</button>
        </div>
    </div>
</div>