<div class="ContainerCards" *ngFor="let item of list">
    <div class="card" (click)="getProduct(item.id_producto)">
        <img  class="ImagenProductos" src="https://sistemadeventas.com.ar/api/{{item.imagen_producto}}" alt="Imagen de ejemplo">
        <div class="ContenidoCard">
            <h2 class="TituloCard">{{item.nombre_producto}}</h2>
            <p class="DescripcionCard">hola</p>
        </div>
        <div class="FooterCard">
            <button>Añadir al carrito</button>
        </div>
    </div>
</div>

<app-product-detail [product]="individualProduct" (close)="closeModal()" *ngIf="individualProduct?.id_producto>0"></app-product-detail>