<div class="TituloProductos"><h1>Ultimos Productos</h1></div>
<div class="sidebar">
    <h1>Usuarios</h1>
    <label for="searchBox"></label>
    <input type="text" name="searchBox" [(ngModel)]="searchData" (keyup)="getFileteredPruducts()" id="">
        <app-cards [list]="data" *ngIf="searchData==''" class="max"></app-cards>
    
        <app-cards [list]="filteredData" *ngIf="searchData!=''" class="max"></app-cards>

<span class="loader" *ngIf="loader"></span>
    
</div>
<app-cards></app-cards>