
.sidebar {
    height: 100%;
    width: 250px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgb(195, 13, 13);
    padding-top: 20px;
    color: white;
}

h2{
    text-align: center;
    text-decoration: underline;
}

label {
    margin-top: 20px;
    padding: 20px;
}

.TituloProductos{
    text-align: center;
    margin: 30px;
}