  <div>
    <div class="Transparente">
      <div>
        <button></button>
        
      </div>
      <div class="TextoImagenFrontal">
        <h1>Compromiso</h1>
        <div class="underline"></div>
      </div>
      <div>
        <button></button>
        <!--
          Los botones son transparentes 
          para que se vea mejor esteticamente y aparte para 
          que cuando el usuario le de click, se mueva la imagen,sino, 
          se seguira moviendo automaticamente.
        -->

      </div>
    </div>
    <div>
      <img class="Construccion1"
        src="/assets/imagenes/architect-3979490_640.jpg" alt>
      <img class="Construccion2"
        src="/assets/imagenes/construction-site-285645_640.jpg" alt>
      <img class="Construccion3"
        src="/assets/imagenes/architect-3979490_640.jpg" alt>
    </div>
  </div>